:root {
  /* Colors */
  --base-dark-color: #000000;
  --base-light-color: #ffffff;

  --color-grey: #cdcdcd;
  --color-red: #f93d04;
  --color-red-light: #fd6638;
  --color-orange: #fd7514;

  /* socials palette */
  --color-telegram-blue: #2AABEE;
  --color-whatsapp-green: #2BB741;

  /* Indents */
  --primary-indent: 10px;
  --secondary-indent: 20px;

  /* Fonts */
  --ff-tilda: "Tilda Sans", "Arial", sans-serif;
  --fz-s: 15px;
  --fz-m: 20px;
  --fz-l: 25px;

  /* Breakpoints */
  --vp-500: 500px;
  --vp-768: 768px;
  --vp-1260: 1260px;
  --vp-1380: 1380px;
  --vp-1600: 1600px;
}
