@import '../../styles/vars.css'; 
@import '../../styles/m-queries.css';

.burger__button {
  margin-left: auto;
}

.drawerWrapper {
  height: 100%;

  display: flex;
  flex-direction: column;
}

.menu {
  margin: 0;
  margin-bottom: auto;
  padding: 0;

  list-style: none;
}

.menu__item a,
.menu__item span {
  padding: 10px;

  display: inline-block;

  color: #000;
  font-size: var(--fz-s);
  font-weight: 500;
}

.socialsWrapper {
  padding: 10px;

  display: flex;
  align-items: center;
  gap: 10px;
}

.socialsWrapper a {
  padding: 5px 10px;
}

.phoneLink {
  padding: 10px;
  
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  color: #000;
  font-size: var(--fz-s);
}

@media (min-width: 1024px) {
  .burger__button {
    display: none;
  }
}
