@import '../../styles/vars.css'; 
@import '../../styles/m-queries.css';

.footer {
  padding: 10px 0;

  width: 100%;
  min-height: 60px;
  
  display: flex;
  align-items: center;

  background-color: #D4CECE;
}

.footer__container {
  display: flex;
  align-items: center;
  
  font-size: calc(var(--fz-s) - 2px);
}

@media (min-width: 1260px) {
  .footer {
    min-height: 80px;
  }

  .footer__container {
    font-size: var(--fz-s)
  }
}
