.socialButton {
  padding: 8px 16px;

  display: flex;
  align-items: center;

  color: #000;
  text-decoration: none;

  border-width: 2px;
  border-radius: 20px;
  border-style: solid;
  transition: all 0.3s ease-in-out;

  & img {
    margin-right: 8px;
    
    font-size: var(--fz-s);
  }
}

.socialButton__telegram {
  color: #2AABEE;
  border-color: #2AABEE;

  &:hover {
    background-color: #2AABEE;
    color: #fff;
  }
}

.socialButton__whatsapp {
  color: #128C7E;
  border-color: #128C7E;

  &:hover {
    background-color: #128C7E;
    color: #fff;
  }
}
